@import '../../sharedStyles/colors.scss';

.OpeningHours {
  background: $color-white;
  border-radius: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 0px 5px 0 rgba(0, 0, 0, 0.15);
  padding: 2rem;
  margin: 1rem 1rem 3rem 1rem;
  width: calc(100% - 64px - 2rem);
  max-width: 420px;
}

header {
  display: flex;
  flex-direction: horizontal;
  border-bottom: 2px solid $color-black;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.icon {
  display: inline-block;
  width: 1.5rem;
  height: 30px;
  margin-right: 0.75rem;
}

.days {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  line-height: 1.375rem;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid $color-grey2;

  .name {
    position: relative;

    .today {
      position: absolute;
      top: 0;
      right: 0;
      color: $color-green;
      font-size: 0.75rem;
      font-weight: bold;
      line-height: 1.375rem;
      padding-left: 0.5rem;
      transform: translateX(100%)
    }
  }

  .closed {
    color: $color-grey3;
  }
}